:root,
:root.light {
    --background-color: lightgrey;
    --color: rgb(0, 0, 0);
    --nav-background-color: grey;
    --nav-color: black;
    --form-back: teal;
    --form: white;

}

:root.dark {
    --nav-background-color:black;
    --nav-color:white;
    --background-color: #381e1e;
    --color: #2db61b; 
    --form-back: #64200f;
    --form: #1d7c8f;
}

:root.red{
    --background-color: rgb(81, 5, 20);
    --color: grey;
    --nav-background-color: rgb(170, 82, 82);
    --nav-color: grey;
    --form-back: crimson;
    --form: black;
}

:root.spirit{
    --background-color: rgb(47, 24, 9);
    --color: rgb(250, 20, 20);
    --nav-background-color: rgb(11, 43, 2);
    --nav-color: rgb(243, 180, 7);
    --form-back: red;
    --form: green;
}

:root.earth{
    --background-color: rgb(4, 4, 107);
    --color: rgb(43, 195, 68);
    --nav-background-color: rgb(67, 182, 227);
    --nav-color: rgb(245, 188, 17);
    --form-back: brown;
    --form: rgb(11, 85, 11);
}

:root.fourth{
    --form-back: red;
    --background-color: red;
    --background-image: url("https://cdn.britannica.com/92/152292-050-EAF28A45/Bald-eagle.jpg");
    --color: black;
    --nav-background-color: Blue;
    --nav-color: White;
    --form: black;
}

:root.hokie{
    --background-color: #630031;
    --color: #CF4420;
    --form-back: #CF4420;
    --form: #630031;
}