:root,
:root.light {
    --background-color: #fff;
    --color: rgb(0, 0, 0);
}

:root.dark {
    --nav-background-color:black;
    --nav-color:white;
    --background-color: #381e1e;
    --color: #2db61b; 
}

:root.red{
    --background-color: crimson;
    --color: black;
}