
.dropbtn {
background-color: #04AA6D;
color: white;
padding: 16px;
font-size: 16px;
border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #965832;}

.navbar{
    background-color: var(--nav-background-color);
    color: var(--nav-color);
}
body {
    margin: 0;
    background-image: var(--background-image);
    background-color: var(--background-color);
    color: var(--color);
    font-family: 'Inter', sans-serif
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2.5rem 0;
    height: 100vh;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-weight: normal;
}

.toggle-container {
    position: relative;
}

.theme-btn {
    cursor: pointer;
    color: var(--color);
    border:rgb(0, 0, 0)
}



.light .theme-btn.light {
    display: none;
}

.dark .theme-btn.dark {
    display: none;
}
.red .theme-btn.red{
    display: none;
}
.spirit .theme-btn.spirit{
    display: none;
}
.fourth .theme-btn.fourth{
    display: none;
}
.earth .theme-btn.earth{
    display:none;
}
footer {
    text-align: center;
    padding: 0.5rem 0;
    background-color: #eaeaea90;
}

footer p {
    font-size: 0.75rem;
    margin: 0.25rem 0;
    color: #221133;
}

footer a {
    text-decoration: none;
    color: inherit;
}
.form-control{
    background-color: var(--form-back);
    color: var(--form);
    font-weight: bold;
}