<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<nav class="navbar bg-light">
    <div class="container-fluid">
        <form class="form-inline"><button class="mat-fab profile">Profile</button></form> 
        <form class="form-inline"><button class="mat-stroked-button claims">Claim Table</button></form>
        <form class="form-inline"><button class="mat-stroked-button policy">Policy Table</button></form>
        <form class="form-inline"><button class="mat-stroked-button ticket">Ticket Table</button></form>
        <form class="form-inline"><button class="mat-stroked-button logout" >Logout</button></form>
    </div>
</nav>
