<nav class="navbar bg-light">
    <div class="container-fluid">
        <form class="form-inline"><button class="mat-fab profile">Profile</button></form> 
        <form class="form-inline"><button class="mat-stroked-button claims">Claim Table</button></form>
        <form class="form-inline"><button class="mat-stroked-button policy">Policy Table</button></form>
        <form class="form-inline"><button class="mat-stroked-button ticket">Ticket Table</button></form>
        <form class="form-inline"><button class="mat-stroked-button logout" >Logout</button></form>
    </div>
</nav>
<body>
    Cards
</body>