.login-component{
    display:flex;
    justify-content: center;
} 
.login-box{
    margin-top:25vh;
    background-color: bisque;
    border: solid lightgray 1px;
    border-radius: 2%;
    padding:40px 40px 10px 40px;
    max-width: 299px;
}
.welcome-text{
    text-align: center;
}
.login-btn{
    width: 100%;
    margin-top:15px;
    background-color: green;
}