
.container-fluid{
    display: flex;
    justify-content: center;
    background-color: bisque;
    height: 10vh;
}
.navbar-brand{
    margin: 10px;
}

.form-inline{
    position: center;
    justify-self: right;
    display: flex;
}
.form-inline{
    margin-left: 40px;
    margin-right: 40px;
}
.tabs{
    margin: 20px;
}
table {
    width: 100%; 
} 
th{
    font-size:large;
    font-weight: bold;
    color:black;
    background-color: var(--nav-background-color);
}
td{
    font-size: medium;
}
tr:nth-child(even){
    background-color: var(--background-color);
}
tr:nth-child(odd){
    background-color: var(--form-back);
}
:root,
:root.light {
    --background-color: lightgrey;
    --color: rgb(0, 0, 0);
    --nav-background-color: grey;
    --nav-color: black;
    --form-back: teal;
    --form: white;

}
:root.dark {
    --nav-background-color:black;
    --nav-color:white;
    --background-color: #381e1e;
    --color: #2db61b; 
    --form-back: #64200f;
    --form: #1d7c8f;
}