.bg{  
    background: url(https://thefader-res.cloudinary.com/private_images/c_limit,w_1024/c_crop,h_532,w_1022,x_0,y_402,f_auto,q_auto:eco/Fader_105_Joanne_Scammer_CaitOppermann_WEB0013_zjmzrd/Fader_105_Joanne_Scammer_CaitOppermann_WEB0013_zjmzrd.jpg);
    background-position: center;
    background-position-y: 5vh;
    background-repeat: no-repeat; 
    background-color: grey;
    background-size: flex;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 
