<nav class="navbar bg-light">
    <div class="container-fluid">
        <form class="form-inline"><button class="mat-fab profile" (click)="routeHandler('profile')">Profile</button></form> 
        <form class="form-inline"><button class="mat-stroked-button policy" (click)="routeHandler('contact')">Contact</button></form>
        <form class="form-inline"><button class="mat-stroked-button policy" (click)="routeHandler('main')">Home</button></form>
        <form class="form-inline"><button class="mat-stroked-button claims" (click)="routeHandler('claim')">Claim Table</button></form>
        <form class="form-inline"><button class="mat-stroked-button policy" (click)="routeHandler('policy')">Policy Table</button></form>
        <form class="form-inline"><button class="mat-stroked-button ticket"(click)="routeHandler('ticket')">Ticket Table</button></form>
        <form class="form-inline"><button class="mat-stroked-button logout" (click)="logout()">Logout</button></form>
    </div>
</nav>
<div >
    <div class="userinfo">
        <h2>USER INFORMATION:</h2>
        <p>UserID: <span>{{user.userID}}</span></p>
        <p>First Name: <span>{{user.first_name}}</span></p>
        <p>

            Last Name: <span>{{user.last_name}}</span>
        </p>
        <p>

            username: <span>{{user.username}}</span>
        </p>
        <button (click)="updateUser()">Update User information</button>
    </div>
    
        <h2>CONTACT INFORMATION:</h2>
        <span>{{contact.street_number}}</span> <span>{{contact.street_name}}</span>
        <span>{{contact.city_state}}</span> <span>{{contact.zipcode}}</span>
        <button (click)="updateContact()">Update Contact information</button>
</div>