<div class="d-flex flex-row bd-highlight mb-3">

    <div class="form-group" >
        <p><label for="doctorID">Doctor ID: </label><input type="number" id="doctorID" name="doctorID" class="form-control" [formControl]="doctorID" ></p>
        <p><label for="policyID">Policy ID: </label><input type="number" id="policyID" name="policyID" class="form-control" [formControl]="policyID" ></p>
        <p><label for="reasonForVisit">Reason For Visit: </label><input type="text" id="reasonForVisit" name="reasonForVisit" class="form-control" [formControl]="reasonForVisit" ></p>
        <p><label >Status: </label>
            <select formControlName="state">
                <option [ngValue]="null" disabled>Select Status</option> 
                    <option *ngFor="let state of states" [ngValue]=state.name (click)="switchState(state.name)" >{{state.name}}</option> 
        </select></p>
    </div>
</div>   
<div>

    <button (click)="addClaim()" class="btn btn-primary"> Add </button>
    
    <button (click)="updateClaim()"   class="btn btn-primary">
        Update
    </button>
</div>
